* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #191919;
  --color-secondary: #f0f0f0;
  --color-accent: #e1a87a;
  --color-headings: #151515;
  --color-body: #121212;
}

nav {
  display: flex;
  justify-content: space-around;
}

ul li {
  display: inline-block;
}
